*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

div{
    border: 1px solid black;
}

.avatar{
    width: 20%;
}

.green{
    color: white;
    background-color: #1abc9c;
}